.set-slider {
    background-image: url("/public/Images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}

.set-slider .carousel-indicators {
    top: 300px
}

.set-slider .carousel-inner {
    margin-top: 160px;
    color: white
}

.set-slider .carousel-inner .carousel-item>div {

    padding: 50px;
}

.set-slider .carousel-inner h1 {

    font-weight: 400;
}

.set-slider .carousel-inner h1 strong {
    color: #f15833
}

.slider-footer>div {
    background: red;
    max-width: 1025px;
    margin-top: -20px;
}


@media (max-width: 991px) {

    .set-slider .carousel-item h1 {
        font-size: 35px;
    }
}

@media (max-width: 450px) {
   .set-slider{
       height: 450px;
   }
   ..set-slider .carousel-inner {
    margin-top: 16px;
    color: white;
}


    .set-slider .carousel-item h1 {
        font-size: 25px;
    }
}