.top-bar{
background-color: #fff;
padding: 10px;
} 
.nav-container .btn
{
    background: #f15833;
    border-radius: 23px;
    color: white;
    /* font-size: 15px; */
    /* font-weight: bold; */
    padding: 11px;
}
}